.hero {
	background-color: hsl(0, 0%, 98%);
	background-image: url(../images/bg-intro-mobile.svg);
	background-position: top right;
	background-repeat: no-repeat;
	overflow: hidden;
}

.hero__container {
	width: 90%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 1.5em 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.hero__intro {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero__title {
	color: hsl(233, 26%, 24%);
	font-weight: 500;
	font-size: 2.9rem;
	max-width: 15ch;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.4;
}

.hero__subtitle {
	color: hsl(233, 8%, 62%);
	max-width: 60ch;
	margin-left: auto;
	margin-right: auto;
}

.hero__img {
	order: -1;
	margin-top: -12.6em;
	max-width: 100%;
}

@media (min-width: 900px) {
	/* .hero {
		background-image: url(../images/bg-intro-desktop.svg);
		background-position: top 30px, right -20px;
	} */

	.hero__container {
		flex-direction: row;
	}

	.hero__intro {
		width: 50%;
		text-align: left;
		align-items: flex-start;
	}

	.hero__title,
	.hero__subtitle {
		margin-left: 0;
		text-align: left;
	}

	.hero__subtitle {
		max-width: 45ch;
	}

	.hero__img {
		order: 0;
		width: 50%;
	}
}
