.navbar {
	background: #fff;
}

.navbar-container {
	width: 90%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 1.5em 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-menu {
	position: absolute;
	top: 95px;
	display: flex;
	flex-direction: column;
	width: 80%;
	height: 50vh;
	right: 10%;
	left: -1000px;
	border-radius: 6px;
	transition: all 0.5s ease;
}

.menu-icon {
	cursor: pointer;
}

.nav-menu.active {
	background: #fff;
	left: 50px;
	opacity: 1;
	transition: all 0.5s ease;
	z-index: 1;
	box-shadow: 0px 1px 24px 1px rgba(0, 0, 0, 0.55);
}

.nav-link {
	color: gray;
}

.menu-item {
	text-align: center;
	width: 100%;
	margin: 1.3em 0;
}

@media (min-width: 960px) {
	.menu-icon {
		display: none;
	}

	.nav-menu {
		position: static;
		flex-direction: row;
		width: initial;
		height: initial;
	}

	.menu-item {
		width: initial;
		margin: 0;
	}

	.menu-item + .menu-item {
		margin-left: 2em;
	}

	.nav-menu.active {
		background: transparent;
		box-shadow: none;
	}
}
